/* GENERAL STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: var(--background-color);
    color: var(--gray-dark);
}

h1, h2, h3, h4 {
    font-family: 'Sofia Sans Condensed', sans-serif;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
   
}

.logo {
    width: 50px;
    height: 50px;
}

.nav-links{
    display: flex;
    gap: 4px;
}

.nav-link{
    font-size: 12px;
    color: var( --brand-purple);
    margin: 0 15px;
    font-weight: 500;
    text-decoration: none;
}

.nav-links a{
    text-decoration: none;
}

.auth-search {
    display: flex;
    align-items: center;
}

.search-box {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 15px;
}

.search-box input {
    background-color:transparent;
    border: none;
    padding: 5px 10px;
    outline: none;
    width: 150px;
}

.search-icon {
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.btn-login {
    background: transparent;
    border: 1px solid var(--brand-purple);
    color:black;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-signup {
    background-color: var(--brand-purple);
    color:var(--white);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* HERO SECTION */

.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px 5%;
    align-items: center;
    gap: 40px;
    background: var(--light-bg);
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 90%; */
    max-width: 550px;
}

.hero h1 {
    color: var(--brand-purple);
    font-size: 2.8rem;
    margin-bottom: 20px;
    line-height: 1.1;
    font-weight: 900;
}

.hero-buttons{
    margin-top: 10px;
}

.primary-btn {
    background: var(--brand-purple);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.outline-btn {
    border: 2px solid var(--brand-purple);
    color: var(--brand-purple);
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}

.brand{
    width: 130px;
    height: 130px;
}

.hero-gallery{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}

.img1{
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.img2{
     border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;

}

/* CARDS */

.role-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 5%;
}

.role-card {
    background: var(--white);
    border-radius: 10px;
    padding: 25px;
    width: 300px;
    text-align: left;

}

.role-card h3{
    color: var( --brand-purple);
}

.secondary-btn{
    border: 2px solid var(--brand-purple);
    padding: 6px;
    color: black;
    border-radius: 3px;
    background-color: transparent;
    margin-top: 8px;
    cursor: pointer;
}

/* ABOUT SECTION */

.about {
    padding: 60px 5%;
    background-image:url(./img/youths.jpeg);
    background-size: cover;
    background-position: center;
    background-color: rgba(148,17,119,0.7);
    background-blend-mode: multiply;
    color: white;
    text-align: center;
}

/* GOALS & OBJECTIVES */

.goals-section {
    padding: 60px 5%;
}

.goals-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid var(--brand-purple);
}

.goals-title, .objectives-title {
    background: var(--brand-purple);
    color: white;
    padding: 15px;
    font-weight: bold;
}

.goal, .objective {
    padding: 20px;
    border-bottom: 1px solid var(--light-purple);
}

/* FOOTER */

.footer-top {
    display: flex;
    justify-content: space-around;
    padding: 50px 5%;
    background: var(--deep-purple);
    color: white;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    background: var(--brand-purple);
    color: white;
    font-size: 0.9rem;
}
